<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Student Portfolios</h1>

<h2>List of Student with Active Portfolios</h2>
<ul class="list-group">
    {% for student in student_active_portfolios %}
        <li class="list-group-item">
            <h3>Name: {{ student.name }}</h3>
            <p>Email: {{ student.email }}</p>
            <p><strong>Portfolio: {{ student.portfolio.title }}
            </strong></p>
        </li>
    {% empty %}
        <li class="list-group-item">No active portfolios found.</li>
    {% endfor %}
</ul>
{% endblock %}