<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Student Portfolios</h1>

<h2>List of Student with Active Portfolios</h2>
<ul class="list-group">
    {% for student in student_active_portfolios %}
        <li class="list-group-item mb-2 border">
            <h3>Name: {{ student.name }}</h3>
            <p><strong>Portfolio: {{ student.portfolio.title }}
            </strong><a href="{% url 'portfolio_detail' student.portfolio.pk %}" class = "btn btn-primary btn-sm"> View</a></p>
        </li>
    {% empty %}
        <li class="list-group-item">No active portfolios found.</li>
    {% endfor %}
</ul>
{% endblock %}