{% extends "portfolio_app/base_template.html" %}

{% block content %}
    <h2>Portfolio Title: {{project.portfolio.title}} </h2>
    <h2>Project Title: {{ project.title }}</h2>
    <p>Description: {{ project.description }}</p>
    <div>
        <a href="{% url 'project_update' project.pk %}" class="btn btn-warning btn-sm">Edit Project</a>
        <a href="{% url 'project_delete' project.pk %}" class="btn btn-danger btn-sm">Delete Project</a>
    </div>

    <a href="{% url 'portfolio_detail' project.portfolio.pk %}" class="btn btn-secondary mt-3">Back to Portfolio</a>
{% endblock %}
